html {
    scroll-behavior: smooth;
    scroll-padding-top: 100px;
    overflow-x: hidden;
}

body::-webkit-scrollbar {
    width: 6px;
}

body::-webkit-scrollbar-track {
    background: #161719;
}

body::-webkit-scrollbar-thumb {
    background-color: #5d5aff;
    border-radius: 30px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    -webkit-text-fill-color: #c5d2c2;
    transition: background-color 5000s ease-in-out 0s;
}

p::selection,
span::selection,
br::selection,
h1::selection,
h2::selection,
h3::selection,
h4::selection,
h5::selection,
h6::selection,
label::selection,
input::selection,
li::selection {
    background-color: #5d5aff;
}

a {
    text-decoration: none;
}

button,
input,
img,
a {
    user-select: none;
}

.slick-prev {
    top: unset !important;
    bottom: -3rem;
    left: unset !important;
    right: 6rem !important;
    transform: scale(2.2) !important;
}

.slick-next {
    top: unset !important;
    bottom: -3rem;
    right: 3rem !important;
    transform: scale(2.2) !important;
}

.slick-prev::before,
.slick-next::before {
    color: #5d5aff !important;
}

.Toastify__toast-theme--dark {
    background-color: #1a1c1f !important;
}

.Toastify__progress-bar--error,
.Toastify__progress-bar--warning,
.Toastify__progress-bar--info {
    background-color: #5d5aff !important;
}

.Toastify__toast-body {
    color: #c3d1dc !important;
}

.Toastify__toast-icon svg {
    fill: #5d5aff !important
}